@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 196 93% 95%;
  --foreground: 196 5% 0%;
  --card: 196 50% 90%;
  --card-foreground: 196 5% 10%;
  --popover: 196 93% 95%;
  --popover-foreground: 196 95% 0%;
  --primary: 196 72% 9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 196 30% 75%; /* Lightened the secondary color */
  --secondary-foreground: 0 0% 0%;
  --muted: 158 30% 85%;
  --muted-foreground: 196 5% 35%;
  --accent: 158 30% 80%;
  --accent-foreground: 196 5% 10%;
  --destructive: 0 93% 30%;
  --destructive-foreground: 196 5% 90%;
  --border: 196 30% 50%;
  --input: 196 30% 18%;
  --ring: 196 72% 9%;
  --radius: 0.5rem;

  --novel-highlight-default: #ffffff;
  --novel-highlight-purple: #f6f3f8;
  --novel-highlight-red: #fdebeb;
  --novel-highlight-yellow: #fbf4a2;
  --novel-highlight-blue: #c1ecf9;
  --novel-highlight-green: #acf79f;
  --novel-highlight-orange: #faebdd;
  --novel-highlight-pink: #faf1f5;
  --novel-highlight-gray: #f1f1ef;
}
.dark {
  --background: 196 50% 5%;
  --foreground: 196 5% 90%;
  --card: 196 50% 0%;
  --card-foreground: 196 5% 90%;
  --popover: 196 50% 5%;
  --popover-foreground: 196 5% 90%;
  --primary: 196 72% 9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 196 30% 30%; /* Lightened the secondary color */
  --secondary-foreground: 0 0% 100%;
  --muted: 158 30% 15%;
  --muted-foreground: 196 5% 60%;
  --accent: 158 30% 15%;
  --accent-foreground: 196 5% 90%;
  --destructive: 0 93% 30%;
  --destructive-foreground: 196 5% 90%;
  --border: 196 30% 18%;
  --input: 196 30% 18%;
  --ring: 196 72% 9%;
  --radius: 0.5rem;

  --novel-highlight-default: #000000;
  --novel-highlight-purple: #3f2c4b;
  --novel-highlight-red: #5c1a1a;
  --novel-highlight-yellow: #5c4b1a;
  --novel-highlight-blue: #1a3d5c;
  --novel-highlight-green: #1a5c20;
  --novel-highlight-orange: #5c3a1a;
  --novel-highlight-pink: #5c1a3a;
  --novel-highlight-gray: #3a3a3a;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Clerk */

.cl-logoImage {
  @apply rounded-full;
}

.cl-socialButtonsBlockButton {
  @apply bg-primary border-0;
}

.cl-headerTitle {
  @apply text-xl border-b pb-4;
}

.cl-header {
  @apply items-center gap-4 mb-4;
}

.cl-internal-q4xmod {
  @apply gap-2;
}

.text-special {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-300 via-white/90 to-rose-300 pb-1;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
